h1{
    text-align: center;
    color: white;
}

body{
    background-size: 100%;
    text-align: center;
    font-size: large;
    color: white;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    background: linear-gradient(10deg,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, .9))
}
.contentLanding{
    z-index: 1;
    position: relative;
    text-emphasis: shadow 0.5em;
}